@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
 position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
}


/*#menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
 position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1;
  float: right;
  margin-top: 10px;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #1E65BC;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
	padding: 27px 21px 27px 21px ;
 /* padding:40px 40px 48px 40px;
	padding: 21px 29px 18px 14px;*/
/*padding:20px 30px 30px 9px;*/
	   /* padding: 25px 40px 40px 10px;*/
	   /* padding: 20px 20px 18px 20px;*/
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
 font-family: 'Calibri';
	   
    margin-left: -2px;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
color: #fff;
    background-color: #b90b07;
}
#cssmenu > ul > li.has-sub > a {
   padding-right: 25px;
}
#cssmenu > ul > li.has-sub:active > a::after{

    border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
#cssmenu > ul > li.has-sub > a::after {
 position: absolute;
  top: 35px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index:1000;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
      text-align: left;
}
#cssmenu ul li:hover > ul > li {
  height: auto;
  border-bottom:dashed #A8A8A8 1px;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 220px;
  font-size: 16px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
      font-family: 'Calibri';
	margin-left: -2px;
}
#cssmenu ul ul ul li a {
  padding: 10px 20px;
  left: 1px;
  width: 209px;
	line-height: 1.2em;
  font-size: 14px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
      font-family: 'Roboto Condensed', sans-serif;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
color: #fff;
 /* background-color:#008fe0;*/
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media (min-width:1000px) and (max-width:1199px)
{
	#cssmenu > ul > li > a {
   
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    font-family: 'Calibri';
    margin-left: -2px;
		padding: 21px 8px 18px 14px;
}
}